page-my {
    .toolbar-title{
        display: flex;
        flex-direction: row;
        justify-content:center;
        color: #c0d7c7;
    }
    
    .toolbar-background{
        background-color: #0a0b0c;
    }

    .titulopag img{
        width: 1.75em;
        height: 1.75em;
        margin-top: .8em;
        margin-right: .3em;
    }

    .logout{
        position: absolute;
        top: .49em;
        right: .4em;

    }
    .body{
        background-color: #0d2918;
        color: #0a0c0b;
    }

    .perfil{
        display: flex;
        flex-direction: row;
        background-color: inherit;
        color: #c0d7c7;
        justify-content: center;
        width: 100%;
        position: relative;
        bottom: .9em;

    }

    .foto-default{
        font-size: 60px;
    }

    .informacoes{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nome{
        font-size: 1.4em;
    }

    .post{
        border-radius: 12px;
        margin-bottom: .7em;
        padding-bottom: .5em;
        background-color: #c0d7c7;
    }

    .post-header{
        display: flex;
        flex-direction: row;
        margin-top: .2em;
        margin-bottom: .5em;
        color: #0d2918;
    }

    .interacoes{
        position: absolute;
        right: .5em;
    }

    .destacar, .options{
        font-size: 16px;
    }

    .conteudo{
        height: auto;
    }


}
